.intro {
  width: 350px;
  padding: 10px 0 0 0;

  @media (max-width: 1024px) {
    width: 100%;
    max-width: 767px;
    min-height: 340px;
    padding: 0;
    text-align: center;
    background-image: url("../img/main-bg-767-340-1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: #131314;

    @media (min-resolution: 2dppx) {
      background-size: 100%;
      background-image: url("../img/main-bg-767-340-2x.jpg");
    }
  }

  @media (max-width: 727px) {
    width: 100%;
    min-width: 320px;
    min-height: 390px;
    background-image: url("../img/main-bg-319-390-1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-bg-319-390-2x.jpg");
      background-size: 100%;
    }
  }
}

.intro__intro-header {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1024px) {
    margin: 0 0 65px 0;
  }

  @media (max-width: 727px) {
    margin: 0 0 50px 0;
  }
}

.intro__logo-link {
  @media (max-width: 1024px) {
    display: flex;
    width: auto;
    padding: 25px 20px;
    text-align: center;
  }
}

.intro__logo-link:hover,
.intro__logo-link:focus {
  opacity: 0.5;
  cursor: pointer;
}

.intro__menu-open-burger-button {
  display: none;
  border: none;

  @media (max-width: 1023px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #0ad9c6;

    &:hover,
    &:focus {
      opacity: 0.5;
      cursor: pointer;
    }

    &--closed {
      display: none;
    }
  }
}

.intro span {
  display: block;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.01;
  margin: 28px 0 25px 0;

  @media (max-width: 1023px) {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: -0.5;
    margin: 28px 0 20px 0;
  }

  @media (max-width: 727px) {
    margin: 50px 0 20px 0;
  }
}

.intro p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.01;
  opacity: 0.8;

  @media (max-width: 1023px) {
    font-size: 18px;
    line-height: 32px;
    width: 480px;
    margin: 0 auto;
  }

  @media (max-width: 727px) {
    width: 280px;
  }
}
